@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --black: rgba(0, 0, 0, 1);
  --darkpurple: rgba(120, 72, 199, 1);
  --descedent: rgba(32, 32, 32, 1);
  --purple: rgba(146, 95, 226, 1);
  --text-font-family: "Poppins", Helvetica;
  --text-font-size: 16px;
  --text-font-style: normal;
  --text-font-weight: 400;
  --text-letter-spacing: 0px;
  --text-line-height: 121.53102159500122%;
}
